:root{
    --dark:#374151;
    --darker:#1f2937;
    --darkest:#111827;
    --gray:#6b7280;
    --light:#eee;
    --yellow:rgb(251, 229, 30);
    --orange:rgb(250, 105, 9);
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans',sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color:#fff;

}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#new-exercises-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-exercises-name{
    flex:1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    
}

#new-exercises-set{
    flex:1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-exercises-name::placeholder{
    color:var(--gray);
}

#new-exercises-set::placeholder{
    color:var(--gray);
}

#new-exercises-submit{
    color:var(--yellow);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right,var(--yellow),
    var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;/*dont understand*/
    cursor: pointer;
    margin:1rem auto;
    transition: 0.4s;
}

#new-exercises-submit:hover{
    opacity: 0.8;
}
#new-exercises-submit:active{
    opacity: 0.6;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.exercises-list{
    padding: 1rem;
}

.exercises-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#exercises{
    
    width: 100%;
}
.exercise{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.content{
    width: 77%;
    float: left;
    flex:0 0 1%;
}



#exercises .exercise .content .text{
    color: var(--light);
    font-size: 1.125rem;
    transition: 0.4s;
    width: 32rem;
}

#exercises .exercise .content .text:not(:read-only){
    
    color: var(--yellow);
}

#exercises .exercise .action{
    
    margin: 0 -0.5rem;
    float: left;/**/
}

.exercise .action button{
    
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.exercise .action button:hover{
    opacity: 0.8;
}
.exercise .action button:active{
    opacity: 0.6;
}

.exercise .action .edit{
    display: inline-block;
    background-image: linear-gradient(to right,var(--yellow),
    var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;/*dont understand*/
}

.exercise .action .delete{
    color:rgb(251, 18, 18);

}
.save{
    font-size: larger;
    color:orange;

}
.save:hover{
    font-size: xx-large;
    cursor: pointer;
}